
  h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
  }
  
  .navbar-toggler {
    border: none !important;
    appearance: none !important;
  }

  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(/images/hero.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .minihead {
    background-image: url(/images/miniheader.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color:rgba(52, 144, 220, 0.1) !important;
  }

 